#img {
   margin: 0px 10px;
}

expander #img {
   margin: 2px 6px 2px 0;
}

expander list #img {
   margin: 2px 10px;
}

#input {
   margin: 6px;
}

#window {
   border: 2px solid #93a1a1;
   border-radius: 6px;
}
