window {
        background-color: rgba (0, 0, 0, 0.0);
}

#box-outer {
        /* Define attributes of the box surrounding icons here */
        background-color: rgba (255, 255, 255, 0.0)
}

#box-inner {
	background-color: rgba (0, 16, 20, 0.65);
	border-radius: 5px;
	border-style: dotted;
	border-width: 1px;
	border-color: rgba (131, 148, 150, 0.75);
	padding: 10px
}
